<%- include('header', { secure: secure }); -%>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const sideNavElements = document.querySelectorAll('.sidenav');
    const sideNavInstances = M.Sidenav.init(sideNavElements);
    const modalElements = document.querySelectorAll('.modal');
    const modalInstances = M.Modal.init(modalElements);
  });
</script>

<% if (typeof adminSuccess !== 'undefined') { %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.toast({html: '<%= adminSuccess %>', classes: 'toast-green'});
    });
  </script>
<% } %>

<% if (typeof adminError !== 'undefined') { %>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.toast({html: '<%= adminError %>', classes: 'toast-red'});
    });
  </script>
<% } %>

<div class="navbar-fixed">
  <nav class="admin-nav">
    <div class="nav-wrapper">
      <a href="/admin" class="brand-logo">jsa.life/*</a>
      <!-- Only appears on mobile -->
      <a href="#" data-target="side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <!-- Doesn't appear on mobile -->
      <ul class="right hide-on-med-and-down">
        <li><a href="#userInfo">User: <%= username %></a></li>
        <li><a href="#shorts">Shorts</a></li>
        <% if (isAdmin) { %>
          <li><a href="#denyList">DenyList</a></li>
          <li><a href="#users">Users</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>

<!-- Only appears on mobile -->
<ul class="sidenav" id="side-nav">
  <li><a href="#userInfo">User: <%= username %></a></li>
  <li><a href="#shorts">Shorts</a></li>
  <% if (isAdmin) { %>
    <li><a href="#denyList">DenyList</a></li>
    <li><a href="#users">Users</a></li>
  <% } %>
</ul>

<div class="container center-align">

  <!-- User Info -->
  <div class="row">
    <h1 id="userInfo">Admin/<a href="/">*</a></h1>
    <div class="col s12">
      <table class="table">
        <thead>
          <tr>
            <th width="33%">Username</th>
            <th width="34%"># of URLs generated</th>
            <th width="33%">Password</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= username %></td>
              <td><%= shorts.reduce((accumulator, currentLink) => {
                return (currentLink.user === username) ? accumulator + 1 : accumulator;
              }, 0) %></td>
              <td>
                <a class="waves-effect waves-light modal-trigger" href="#passwordChangeModal">Change</a>
                <!-- Password Change Modal -->
                <div id="passwordChangeModal" class="modal">
                  <div class="modal-content">
                    <form action="/admin/password/update" method="post">
                      <div class="row left-align">
                        <div class="input-field col s10 offset-s1">
                          <input id="oldPassword" name="oldPassword" type="password">
                          <label for="oldPassword">Old Password</label>
                        </div>
                      </div>
                      <div class="row left-align">
                        <div class="input-field col s10 offset-s1">
                          <input id="newPassword" name="newPassword" type="password">
                          <label for="newPassword">New Password</label>
                        </div>
                      </div>
                      <div class="row left-align">
                        <div class="input-field col s10 offset-s1">
                          <input id="confirmPassword" name="confirmPassword" type="password">
                          <label for="confirmPassword">Confirm New Password</label>
                        </div>
                      </div>
                      <div class="row center-align">
                        <button
                          class="btn-large waves-effect waves-light"
                          type="submit"
                          name="action"
                        >
                          Change
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <form action="/admin/logout" method="post">
      <div class="row">
        <button class="btn-large waves-effect waves-light btn-logout" type="submit" name="action">
          Logout
        </button>
      </div>
    </form>
  </div>

  <!-- Shorts -->
  <div class="row">
    <h1 id="shorts">Shorts</h1>
    <div class="col s12">
      <table class="table">
        <thead>
          <tr>
            <th width="5%">PV</th>
            <th width="15%">Short</th>
            <th width="60%">Original</th>
            <th width="10%">User</th>
            <th width="10%"></th>
          </tr>
        </thead>
        <tbody>
          <% shorts.forEach(linkInfo => { %>
            <tr>
              <td><%= linkInfo.views %></td>
              <td>
                <a href="/<%= linkInfo.short %>" target="_blank">
                  <%= linkInfo.short %>
                </a>
              </td>
              <td class="table-cell truncate"><%= linkInfo.original %></td>
              <td><%= linkInfo.user %></td>
              <td>
                <% if (isAdmin || linkInfo.user === username) { %>
                  <form action="/admin/short/remove" method="post">
                    <input type="hidden" name="short" value=<%= linkInfo.short %>>
                    <button class="btn-remove" type="submit" name="remove">
                      Remove
                    </button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <% if (isAdmin) { %>

    <!-- Deny List -->
    <div class="row">
      <h1 id="denyList">Deny List</h1>
      <div class="col s10 offset-s1">
        <form action="/admin/denyList/add" method="post">
          <div class="row left-align">
            <div class="input-field col s10 offset-s1">
              <input id="keyword" name="keyword" type="text">
              <label for="keyword">Keyword (> 5 letters)</label>
            </div>
          </div>
          <div class="row">
            <button
              class="btn-large waves-effect waves-light"
              type="submit"
              name="action"
            >
              Add
            </button>
          </div>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th width="80%">Keyword</th>
              <th width="20%"></th>
            </tr>
          </thead>
          <tbody>
            <% denyList.forEach(keyword => { %>
              <tr>
                <td><%= keyword %></td>
                <td>
                  <form action="/admin/denyList/remove" method="post">
                    <input type="hidden" name="keyword" value=<%= keyword %>>
                    <button class="btn-remove" type="submit" name="remove">
                      Remove
                    </button>
                  </form>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  <% } %>
  <% if (isAdmin) { %>
    <!-- Users list -->
    <div class="row">
      <h1 id="users">Users</h1>
      <!-- Add new user -->
      <a class="waves-effect waves-light modal-trigger" href="#newUserModal">Register new user</a>
      <div id="newUserModal" class="modal">
        <div class="modal-content">
          <form action="/admin/users/registerUser" method="post">
            <div class="row left-align">
              <div class="input-field col s10 offset-s1">
                <input id="username" name="username" type="text">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row left-align">
              <div class="input-field col s10 offset-s1">
                <input id="tempPassword" name="tempPassword" type="password">
                <label for="tempPassword">Temp Password (default is "abcd")</label>
              </div>
            </div>
            <div class="row center-align">
              <label>
                <input id="isAdmin" name="isAdmin" type="checkbox" />
                <span>Make Admin</span>
              </label>
            </div>
            <div class="row center-align">
              <button
                class="btn-large waves-effect waves-light"
                type="submit"
              >
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col s12">
        <table class="table">
          <thead>
            <tr>
              <th width="55%">Username</th>
              <th width="10%">Role</th>
              <th width="20%"></th>
              <th width="15%"></th>
            </tr>
          </thead>
          <tbody>
              <% users.forEach(user => { %>
                <% if (user.username !== username) { %>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.role %></td>
                    <td>
                      <form action="/admin/users/resetPassword" method="post">
                        <input type="hidden" name="username" value=<%= user.username %>>
                        <input type="hidden" name="role" value=<%= user.role %>>
                        <button class="btn-remove" type="submit" name="resetPassword">
                          Reset Password to "abcd"
                        </button>
                      </form>
                    </td>
                    <td>
                      <form action="/admin/users/removeUser" method="post">
                        <input type="hidden" name="username" value=<%= user.username %>>
                        <input type="hidden" name="role" value=<%= user.role %>>
                        <button class="btn-remove" type="submit" name="removeUser">
                          Remove User
                        </button>
                      </form>
                    </td>
                  </tr>
                <% } %>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  <% } %>
</div>

<%- include('footer'); -%>
