<%- include('header', { secure: secure }); -%>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const elements = document.querySelectorAll('.sidenav');
    const instances = M.Sidenav.init(elements);
  });
</script>

<div class="navbar-fixed">
  <nav class="admin-nav">
    <div class="nav-wrapper">
      <a href="/admin" class="brand-logo">jsa.life/*</a>
      <!-- Only appears on mobile -->
      <a href="#" data-target="side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#users">Users</a></li>
        <li><a href="#denyList">DenyList</a></li>
        <li><a href="#shorts">Shorts</a></li>
        <li><a href="#logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Only appears on mobile -->
<ul class="sidenav" id="side-nav">
  <li><a href="#users">Users</a></li>
  <li><a href="#denyList">DenyList</a></li>
  <li><a href="#shorts">Shorts</a></li>
  <li><a href="#logout">Logout</a></li>
</ul>

<div class="container center-align">
  <h1 id="logout">Admin/<a href="/">*</a></h1>
  <div class="row">
    <form action="/logout" method="post">
      <div class="row">
        <button class="btn-large waves-effect waves-light" type="submit" name="action">
          Logout
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <h1 id="shorts">Shorts</h1>
    <div class="col s12">
      <table class="table">
        <thead>
          <tr>
            <th width="5%">PV</th>
            <th width="15%">Short</th>
            <th width="60%">Original</th>
            <th width="10%">User</th>
            <th width="10%"></th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(linkInfo => { %>
            <tr>
              <td><%= linkInfo.views %></td>
              <td>
                <a href="/<%= linkInfo.short %>" target="_blank">
                  <%= linkInfo.short %>
                </a>
              </td>
              <td class="table-cell truncate"><%= linkInfo.original %></td>
              <td><%= linkInfo.user %></td>
              <td>
                <%if (isAdmin) { %>
                  <form action="/remove" method="post">
                    <input type="hidden" name="short" value=<%= linkInfo.short %>>
                    <button class="btn-remove" type="submit" name="remove">
                      Remove
                    </button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('footer'); -%>
